[submodule "SEM_2/CE6012-Artificial_Intelligence_and_Machine_Learning/e-tivity1"]
	path = SEM_2/CE6012-Artificial_Intelligence_and_Machine_Learning/e-tivity1
	url = https://gitlab.com/ul31/mscai/ce6002-ce6012/group5/e-tivity1.git
